<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>MarburgInFlutterFlow</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MarburgInFlutterFlow</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.975088002770-d5rbv7odbo43n1gaksmlrrk7c507c2sr</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>marburginflutterflow.com</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>marburginflutterflow</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FlutterDeepLinkingEnabled</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Wir benötigen Zugriff, um Termine in deinem Kalender zu verwalten.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Wir benötigen Zugriff, um Termine in deinen Kalender zu speichern.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Wir benötigen Zugriff, um Termine zu deinem Kalender hinzuzufügen.</string>
	<key>NSContactsUsageDescription</key>
	<string>Wir benötigen Zugriff, um Adressen für Termine vorzuschlagen.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Wir benötigen deinen Standort, um Events in deiner Nähe anzuzeigen.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Wir benötigen deinen Standort im Hintergrund für Event-Benachrichtigungen.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Wir benötigen deinen Standort, um Events in deiner Nähe anzuzeigen.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>Wir senden dir Event-Benachrichtigungen</string>
	<key>PermissionGroupNotification</key>
	<string>test</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>FlutterSceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-peripheral</string>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>external-accessory</string>
		<string>push-to-talk</string>
		<string>location</string>
		<string>remote-notification</string>
		<string>bluetooth-central</string>
		<string>voip</string>
		<string>nearby-interaction</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
